.InfoTab-box{
    width:90vw;
    height:25vh;
    margin-left:5vw;
    background-color: white;
    border-radius: 5%;
    margin-bottom:3vh;
}

.InfoTab-header{
    width:100%;
    height:30%;

    border-radius: 5%;
    display: flex;
}

.InfoTab-title{
    width:88%;
    height:100%;
    font-size:6vmin;
    padding:1vh 3vw;
    border-radius: 5%;
}

.InfoTab-delete{
    width:12%;
    height:100%;
    font-size:6vmin;
    padding-left:2vw;
    padding-top:1vh;
}

.InfoTab-subtitle{
    width:80%;
    height:15%;
    font-style: italic;
    font-size:4vmin;
    padding-left:3vw;
    padding-right:3vw;
    border-radius: 5%;
}

.InfoTab-content{
    width:100%;
    font-size:4vmin;
    padding-left:3vw;
    padding-right:3vw;
    border-radius: 5%;
    overflow:hidden;
}