.Combk-bg{
    width: 100vw;
    background-color: darkgray;
    background-size:100% 180%;
    background-repeat:no-repeat;
}
.cover{
    width:100%;
    height:28vh;
}

.Combk-title{
    width:100vw;
    height:40vh;
    background-image:url("../../../Image/18.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 0 1vmin 4vmin rgba(0,0,0,0.9);
}
.Combk-body{

}