.Data-top{
    background-color: white;
    height:300px;
    margin:3px 5px;
    padding:10px 10px;
}

.Data-center{
    background-color: white;
    margin:3px 5px;
    height:100px;
    padding:0 20px
}

.Data-bottom{
    background-color: white;
    margin:3px 5px;
    height:600px;
    overflow: auto;
    padding:20px 20px;
}