.BookDetails-box{
    z-index:2;
    position:absolute;
    width:85%;
    height:620px;
    background-color:white;
    overflow:auto;
    color:#001529;
}

.BookDetails-baseInfo{
    height:550px;
    padding:10px 10px;
    overflow: auto;
}

.BookDetails-comment{
    height:550px;
    overflow: auto;
    padding:10px 20px;
}

.BookDetails-picture{
    width:200px;
    height:240px;
    margin:0 auto;
}

.BookDetails-picture .ant-upload-list-picture-card-container{
    width:200px;
    height:240px;
}

.BookDetails-picture .ant-upload-list-picture-card .ant-upload-list-item{
    width:200px;
    height:240px;
}