.UserDetails-box{
    position:absolute;
    width:85%;
    height:620px;
    background-image: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1584611079481&di=9af25a0d7eff7c51711bf047f0b8680b&imgtype=0&src=http%3A%2F%2Fhbimg.b0.upaiyun.com%2F280fcd235ba0981b6bfdae80811d1c2b54f682bf84cc4-5oCPll_fw658");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow:auto;
    color:#001529;
}

.UserDetails-userInfo{
    padding:10px 30px;
}

.UserDetails-userImg{
    height:240px;
    width:60%;
    margin-left:18%;
    clip-path: polygon(0% 2%,100% 5%,100% 95%,0% 98%);
    transform: rotateY(10deg);
    transition:clip-path 1s;
}
.UserDetails-userImg:hover{
    clip-path: polygon(0% 0%,100% 8%,100% 92%,0% 100%);
    transition:clip-path 1s;
}

.UserDetails-baseInfo{
    height:300px;
    color:white;
    padding:20px 10px 20px 80px;
    transform: rotateY(30deg) rotateZ(-1deg);
}

.UserDetails-userContent{
    padding-top:10px;
    height:40px;
    font-size:20px;
}

.UserDetails-userContent .title{
    font-size:22px;
}

.UserDetails-right{
    height:480px;
    overflow: auto;
    padding:20px 10px;
}

.inv-title{
    font-weight:bold;
}

.inv-time{
    text-align: right;
    color:#666;
}

.inv-content{
    padding:10px 0 10px 0;
}

.Cer-content{
    padding:10px 20px;
}

.MyComment-comment{
    height:100px;
    padding:10px 10px;
    overflow: auto;
}

.MyComment-invContent{
    margin-top:10px;
    height:100px;
    border-radius: 50%;
    color:#F3D9C0;
    font-size:18px;
    font-weight:bold;
    background-color: #DEB78C;
    overflow: auto;
    cursor: pointer;
}

.ChipInfoTab-box{
    height:250px;
    padding:8px 10px;
    background-size: 100% 100%;
    display: flex;
    cursor:pointer;
    transition: background-color 2s;
}

.ChipInfoTab-box:hover{
    background-color: rgba(255,208,153,0.2);
    transition: background-color 0.5s;
}

.ChipInfoTab-name{
    width:50%;
    height:100%;
    text-align: center;
    overflow: auto;
    padding-top:80px;
    color:#C9794C;
    font-size:25px;
    font-weight:bold;
}

.ChipInfoTab-pic{
    width:50%;
    height:100%;
    background-image:url("../../../Image/CPBG.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
