.box{
    width:100vw;
    height:100vh;
    background-image:url("../../Image/CeramicsShowImg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
}
.box .box-left{
    margin-left:-10vw;
    height:40vh;
}

.box .box-right{
    height:86vh;
    margin-left:-10vw;
}

.swiper-wrapper{
    width:50vw;
    height:86vh;
}

.swiperTitle{
    width:90%;
    margin-left:30%;
    padding-top: 32%;
    height: 100%;
    font-size:7vmin;
    color:#444555;
}

.swiperContent{
    width:90%;
    margin-left:5%;
    color:#746549;
    font-size:4vmin;
    line-height:3.5vh;
    overflow: hidden;
}

.bgimg{
    position:absolute;
    width:70vw;
    height:60vh;
    margin-left:2vw;
    clip-path:polygon(0 0,100% 12%,100% 88%,0 100%);
    background-size:100% 100%;
    animation:animatefadein 1s ease-out forwards;
}

@keyframes animatefadein {
    from{
        opacity: 0;
    }
    to{
        opacity:0.2;
    }
}

#3d-output{
    background-color: transparent;
}

.swiper{
    -webkit-transition: transform 1.0s;
    -moz-transition: transform 1.0s;
    -ms-transition: transform 1.0s;
    -o-transition: transform 1.0s;
    -webkit-transform: scale(1);
    -moz-transform:scale(1);
    -o-transform:scale(1);
    transform: scale(1);
}

.swiperSlide{
    -webkit-transition: transform 1.0s;
    -moz-transition: transform 1.0s;
    -ms-transition: transform 1.0s;
    -o-transition: transform 1.0s;
    -webkit-transform: scale(0.8);
    -moz-transform:scale(0.8);
    -o-transform:scale(0.8);
    transform: scale(0.8);

}

