@import '~antd/dist/antd.css';
body{
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-In{
  background-color:#292D35;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MenuTab{
  height:15vmin;
  width:15vmin;
}

/*字体*/

@font-face {
  font-family: 方正楷体;
  src: url("fonts/FZKaiTi.ttf");
}
