@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url("./Image/bgI3.gif");
  background-size:100%;
  background-repeat: no-repeat;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-In{
  background-color:#252525;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MenuTab{
  height:15vmin;
  width:15vmin;
}

.testContent{
  display:inline-block;
  font-size:4vmin;
  color:black;
  width:90%;
  height:100%;
  font-family: '楷体';
  writing-mode:vertical-rl
}
.testTitle{
  display:inline-block;
  color:black;
  font-size:6vmin;
  font-weight: bold;
  width:10%;
  height:100%;
  font-family: '楷体';
  writing-mode:vertical-rl
}